@import url('https://fonts.cdnfonts.com/css/pf-din-text-comp-pro-medium');

.font1 {
    font-family: 'PF Din Text Comp Pro Medium';
    font-size: 30px;
}


.font2 {
    font-family: 'PF Din Text Comp Pro Medium';
    font-size: 45px;
}

.font3 {
    font-family: 'PF Din Text Comp Pro Medium';
    font-size: 20px;
}